{% extends "base.html" %}
{% block title %}Warden Dashboard{% endblock %}
{% block content %}
    <h1 style="margin-top: 150px; font-weight: bold; color: blue; margin-left: 270px;">Warden Dashboard</h1>

    <div class="container mt-5" style="justify-content: flex-start;">
        <div class="row">
            <div class="col-md-4">
                <a href="{{ url_for('warden.view_fees') }}"><button style="width: 100px; padding-top: 15px; padding-bottom: 15px; font-weight: bold; background-color: rgb(1, 1, 155); color: white; border-radius: 10px; border-width: 0px;">Fees Calculation</button></a>
            </div>

            <div class="col-md-4">
                <a href="{{ url_for('warden.approval_requests') }}"><button style="width: 100px; padding-top: 15px; padding-bottom: 15px; font-weight: bold; background-color: rgb(1, 1, 155); color: white; border-radius: 10px; border-width: 0px;">Approval Requests</button></a>
            </div>

            <div class="col-md-4">
                <a href="{{ url_for('warden.view_complaints') }}"><button style="width: 100px; padding-top: 15px; padding-bottom: 15px; font-weight: bold; background-color: rgb(1, 1, 155); color: white; border-radius: 10px; border-width: 0px;">View Complaints</button></a>
            </div>
        </div>

        <div class="row" style="padding-top: 30px;">
            <div class="col-md-4">
                <a href="{{ url_for('warden.manage_students') }}"><button style="width: 100px; padding-top: 15px; padding-bottom: 15px; font-weight: bold; background-color: rgb(1, 1, 155); color: white; border-radius: 10px; border-width: 0px;">Students List</button></a>
            </div>

            <div class="col-md-4">
                <a href="{{ url_for('warden.view_attendance') }}"><button style="width: 100px; padding-top: 15px; padding-bottom: 15px; font-weight: bold; background-color: rgb(1, 1, 155); color: white; border-radius: 10px; border-width: 0px;">Attendance List</button></a>
            </div>

            <div class="col-md-4">
                <a href="{{ url_for('warden.make_announcement') }}"><button style="width: 100px; padding-top: 15px; padding-bottom: 15px; font-weight: bold; background-color: rgb(1, 1, 155); color: white; border-radius: 10px; border-width: 0px;">Make Announcements</button></a>
            </div>
        </div>

        <a href="{{ url_for('user.logout') }}"><button style="width: 100px; padding-top: 15px; padding-bottom: 15px; font-weight: bold; background-color: rgb(1, 1, 155); color: white; border-radius: 10px; border-width: 0px; margin-left: 370px; margin-top: 30px;">Logout</button></a>
    </div>

{% endblock %}
